[workspace]
resolver = "3"
members = ["crates/*"]

[workspace.dependencies]
anyhow = "1.0.100"
arbitrary = { version = "1.4.2", features = ["derive"] }
arbtest = "0.3.2"
bitflags = { version = "2.10.0", features = ["arbitrary", "std"] }
camino = "1.2.2"
clap = { version = "4.5.53", features = ["derive", "env"] }
diff = "0.1.13"
etcetera = "0.11.0"
hdrhistogram = "7.5.4"
indigo-cli = { path = "crates/indigo-cli/" }
indigo-core = { path = "crates/indigo-core/" }
indigo-tui = { path = "crates/indigo-tui/" }
indigo-wrap = { path = "crates/indigo-wrap/" }
memchr = "2.7.6"
pathdiff = { version = "0.2.3", features = ["camino"] }
ratatui = "0.30.0-beta.0"
regex-cursor = { version = "0.1.5", default-features = false, features = ["perf-inline"] }
roaring = "0.11.3"
ropey = { version = "2.0.0-beta.1" }
shell-words = "1.1.1"
thiserror = "2.0.17"
tracing = "0.1.43"
tracing-subscriber = { version = "0.3.22", features = ["env-filter"] }
unicode-segmentation = "1.12.0"
unicode-width = "0.2.2"
winnow = "0.7.14"

[patch.crates-io]
# Fix generating zero for `NonZero<T>`.
# https://github.com/rust-fuzz/arbitrary/pull/214
arbitrary = { git = "https://github.com/rust-fuzz/arbitrary.git", rev = "69ac259b653cc094652a9e73eabd3f4ef9244d86" }

[workspace.lints]
clippy.allow_attributes = "warn"
clippy.as_conversions = "deny"
clippy.bool_to_int_with_if = "allow"
clippy.missing_errors_doc = "allow"
clippy.missing_panics_doc = "allow"
clippy.pedantic = { level = "warn", priority = -1 }
clippy.redundant_closure = "allow"
clippy.redundant_closure_for_method_calls = "allow"
clippy.use_self = "warn"
rust.unsafe_code = "deny"

[profile.profile]
inherits = "release"
debug = "full"
